/* body {
    background: #81B4C9;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 30px;
}

ul li {
    display: inline;
}

ul li a {
    margin: 0px 10px;
}

#header {
    background: red;
    margin-left: 10px;
    margin-top: 10px;
} */