/* Color Palette
#555358 - dark gray
#5F6062 - light gray
#7B7263 - light brown +
#C6CA53 - gold +
#C9DCB3 - silver
-------------------------------------*/

/* Global Styles
-------------------------------------*/
body {
    border: 1px solid black;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

a {
    color: #000000;
    background: yellowgreen;
}

a:hover {
    text-decoration: none;
}

section {
    max-width: 950px;
    margin: 0 auto;
}

.banner {
    text-align: center;
 }

 .banner img {
    width: 100%;
    max-width: 950px;

 }

/* Header & Footer Styles
-------------------------------------*/
header, footer {
    background: #C9DCB3;
}

footer {
    padding: 30px;
    text-align: center;
}

header form {
    display: inline-block;
}

header ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 30px;
}

header img {
    width: 100px;
    margin: 30px;
}

/* Recomendations
-------------------------------------*/
.recomendations {
    background: #555358;
}

.books-display {
    padding: 20px;
}

.books-display img {
    width: 200px;
}



/* By author
-------------------------------------*/
.authors {
    background: #5F6062;
}